@import "../../common/colors.scss";

.header{
    background-color: $secondary-color;
    height: 70px;
    display: flex;
    padding: 0px 40px;
    justify-content: space-between;
    align-items: center;
}

.heading{
    color: $font-primar;
    font-size: 25px;

}

.user-img , .user-img img{
    width: 40px;
}